.bar {
    font-family: Source Code Pro;
    background-color: #3a3a3a;
    color: #b0b4bc;
}

.trayicon {
    background-repeat: no-repeat;
    background-size: 26px;
    min-height: 26px;
    min-width: 26px;
    margin: 2px 0px 0px 0px;
}
